<%= turbo_stream_from "contract_#{@contract.id}" %>

<main class="w-full min-h-screen">
  <div class="min-h-full flex flex-col lg:flex-row lg:h-screen items-center justify-center">
    <div class="p-6 max-w-2xl w-full">
      <div class="mb-6">
        <%= render 'signature_actions', contract: @contract, info_hidden: true, no_preview: true %>
      </div>
    </div>
  </div>
</main>
