<p class="greeting">Dobrý deň,</p>

<p class="message">používateľ <strong>{{signer_name}}</strong> podpísal dokument, ktorý ste odoslali na podpis.</p>

<div class="details">
  <div class="details-title">Detaily podpisu:</div>
  <div class="details-list">
    <div>Dokument: {{document_name}}</div>
    <div>Podpísal: {{signer_name}}</div>
    <div>Dátum a čas: {{signed_at}}</div>
  </div>
</div>

<a href="{{document_url}}" class="button">Stiahnuť podpísaný dokument</a>

<p class="warning">Ak ste tento podpis nečakali, odporúčame overiť detaily dokumentu alebo kontaktovať odosielateľa.</p>

<p class="signature">
  S pozdravom,<br>
  Tím Autogram Portal
</p>
