<main>
  <style>
    .my-list-first {
        counter-reset: item 0;
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;
    }

    .my-list {
        counter-reset: item;
        list-style-type: none;
    }

    .my-list > li {
        counter-increment: item;
    }

    .my-list-first > li {
        counter-increment: item;
    }

    .my-list > li::marker {
        content: counters(item, '.') '. ';
    }
  </style>
  <div class="min-h-screen px-6 lg:px-8 mx-auto max-w-5xl">
    <% if !Rails.env.production? %>
      <br>
      <%= render 'shared/error', title: t('.not_production_title'), content: t('.not_production_message') %>
      <br>
    <% end %>
    <div class="prose prose-sm lg:prose-base mx-auto max-w-5xl">
      <h1>Zásady ochrany osobných údajov</h1>

      <p><i>pre službu <b>Autogram Portal</b></i></p>
      <p><i>platné od <b>29.4.2026</b></i></p>
      
      <ol class="my-list-first">
        <li>
          <i>
          <h2>Preambula</h2>
          <ol class="my-list">
            <li>
              <p>Vaše súkromie berieme vážne. Tieto Zásady ochrany osobných údajov vysvetľujú, aké údaje o vás spracúvame, prečo ich potrebujeme a ako ich chránime. Napísali sme ich zrozumiteľným jazykom, aby ste presne vedeli, čo sa s vašimi údajmi deje.</p>
            </li>
            <li>
              <p>Spracúvame len tie údaje, ktoré nevyhnutne potrebujeme na to, aby služba fungovala. Vaše dokumenty nečítame, váše bezpečnostné kódy ku karte (napr. podpisový PIN) nevidíme a údaje mažeme hneď, ako prestanú byť potrebné.</p>
            </li>
          </ol>
          </i>
        </li>
        <li>
          <h2>2. Kto spracúva vaše údaje</h2>
          <ol class="my-list">
            <li>
              <h3>Prevádzkovateľom vašich osobných údajov je:</h3>
              <ul class="list-none">
                <li><i><b>Názov:</b> <b>Služby Slovensko.Digital, s.r.o.</b> - Spoločnosť zapísaná v registri Mestského súdu Bratislava III, oddiel: Sro, vložka č. 119763/B</i></li>
                <li><i><b>IČO:</b> 50881337</i></li>
                <li><i><b>Sídlo:</b> Staré grunty 18, 841 04 Bratislava</i></li>
                <li><i><b>E-mail:</b> <a href="mailto:podpora@slovensko.digital">podpora@slovensko.digital</a></i></li>
                <li><i><b>Web:</b> <a href="https://sluzby.slovensko.digital">https://sluzby.slovensko.digital</a></i></li>
              </ul>
            </li>
            <li>
              <h3>Kontakt pre otázky o ochrane osobných údajov:</h3>
              <ul class="list-none">
                <li><i><b>E-mail:</b></i> <a href="mailto:zodpovednaosoba@slovensko.digital">zodpovednaosoba@slovensko.digital</a></li>
              </ul>
            </li>
            <li>
              <h3>Čo znamená, že sme prevádzkovateľ Vašich osobných údajov?</h3>
              <p>Ako prevádzkovateľ rozhodujeme o tom, prečo a ako sa vaše osobné údaje spracúvajú. Sme zodpovední za ich ochranu a za dodržiavanie vašich práv podľa nariadenia GDPR (Nariadenie EÚ 2016/679) a zákona č. 18/2018 Z. z. o ochrane osobných údajov.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>3. Aké údaje spracúvame</h2>
          <ol class="my-list">
            <li>
              <h3>Kategórie spracúvaných údajov</h3>
              <ul class="list-disc list-outside prose-p:mt-0 prose-p:mb-0">
                <li>
                  <i><b>Identifikačné údaje</b> - Meno, priezvisko, prípadne ďalšie identifikačné údaje obsiahnuté v podpise alebo podpisovom certifikáte</i>
                  <p>Z použitého kvalifikovaného certifikátu pre elektronický podpis, z údajov poskytnutých pri registrácii alebo z údajov získaných pri použití podporovaného spôsobu prihlásenia</p>
                </li>
                <li>
                  <i><b>Kontaktné údaje</b> - E-mailová adresa</i>
                  <p>Pri registrácii / Google OAuth</p>
                </li>
                <li>
                  <i><b>Technické údaje / cookies</b> - IP adresa, typ prehliadača, OS</i>
                  <p>Automaticky pri návšteve</p>
                </li>
                <li>
                  <i><b>Údaje o certifikátoch</b> - Verejný kľúč, identifikátor alebo číslo certifikátu, údaje o podpisovom certifikáte, podpisové metadáta</i>
                  <p>Z použitého kvalifikovaného certifikátu a podpisového prostriedku pri vytváraní podpisu; z už podpísaného dokumentu nahraného na overenie existujúceho podpisu</p>
                </li>
                <li>
                  <i><b>Údaje o aktivite</b> - Čas podpisu, metadáta dokumentu</i>
                  <p>Vytvorené počas používania</p>
                </li>
                <li>
                  <i><b>Údaje účtu</b> - E-mail, preferencie, história</i>
                  <p>Pri registrácii a používaní</p>
              </ul>
            </li>
            <li>
              <h3>Čo technicky neopúšťa vaše zariadenie a čo neukladáme</h3>
              <p>Nasledujúce údaje technicky neopúšťajú vaše zariadenie, alebo použité kvalifikované podpisové zariadenie a my ich neprijímame ani neukladáme:</p>
              <ul class="list-disc">
                <li><i>Váš <b>BOK (Bezpečnostný Osobný Kód)</b></i></li>
                <li><i>Váš <b>Podpisový PIN (PIN na kvalifikovaný elektronický podpis)</b></i></li>
                <li><i>Váš <b>súkromný kryptografický kľúč</b></i></li>
              </ul>
            </li>
            <li>
              <h3>Osobitne o dokumentoch</h3>
              <p>Dokumenty, ktoré nahrávate na podpísanie alebo overenie, spracúvame automatizovane len v rozsahu nevyhnutnom na poskytovanie služby, najmä na vytvorenie podpisu, overenie podpisu, uloženie dokumentu, zobrazenie výsledku alebo doručenie výsledku služby. Obsah dokumentov manuálne neprezeráme, ak to nie je nevyhnutné na riešenie technického incidentu, bezpečnostného incidentu alebo na splnenie zákonnej povinnosti.</p>
            </li>
            <li>
              <h3>Upozornenie na názvy súborov</h3>
              <p>Názov súboru, ktorý nahrávate, sa dočasne ukladá ako súčasť metadát a môže sa objaviť v diagnostických záznamoch. Ak vám záleží na maximálnej anonymite, odporúčame používať neutrálne názvy súborov (napr. <code>dokument.pdf</code> namiesto <code>Zmluva_Jan_Novak.pdf</code>).</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>4. Prečo vaše údaje spracúvame</h2>
          <ol class="my-list prose-p:mt-0 prose-p:mb-0">
            <li>
              <h3>Účely spracovania a právne základy</h3>
              <ul class="list-none">
                <li>
                  <b>Poskytnutie služby elektronického podpisovania</b>
                  <ul>
                    <li><i>Právny základ:</i> Čl. 6 ods. 1 písm. b) – plnenie zmluvy</li>
                    <li><i>Vysvetlenie:</i> Bez týchto údajov by sme službu nemohli poskytnúť</li>
                  </ul>
                </li>
                <li>
                  <b>Overenie vašej identity</b>
                  <ul>
                    <li><i>Právny základ:</i> Čl. 6 ods. 1 písm. b) – plnenie zmluvy</li>
                    <li><i>Vysvetlenie:</i> Prihlásenie cez eID alebo Google</li>
                  </ul>
                </li>
                <li>
                  <b>Správa používateľského účtu</b>
                  <ul>
                    <li><i>Právny základ:</i> Čl. 6 ods. 1 písm. b) – plnenie zmluvy</li>
                    <li><i>Vysvetlenie:</i> Uchovávanie dokumentov a preferencií</li>
                  </ul>
                </li>
                <li>
                  <b>Zasielanie notifikácií</b>
                  <ul>
                    <li><i>Právny základ:</i> Čl. 6 ods. 1 písm. b) – plnenie zmluvy</li>
                    <li><i>Vysvetlenie:</i> Informácie o stave dokumentov</li>
                  </ul>
                </li>
                <li>
                  <b>Bezpečnosť a prevencia zneužitia</b>
                  <ul>
                    <li><i>Právny základ:</i> Čl. 6 ods. 1 písm. f) – oprávnený záujem</li>
                    <li><i>Vysvetlenie:</i> Ochrana služby pred útokmi</li>
                  </ul>
                </li>
                <li>
                  <b>Diagnostika chýb</b>
                  <ul>
                    <li><i>Právny základ:</i> Čl. 6 ods. 1 písm. f) – oprávnený záujem</li>
                    <li><i>Vysvetlenie:</i> Oprava chýb a zlepšovanie služby</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <h2>5. Ako dlho údaje uchovávame</h2>
          <ol class="my-list prose-p:mt-0 prose-p:mb-0">
            <li>
              <h3>Doba uchovávania podľa typu údajov a typu používateľa</h3>
              <ul class="list-none">
                <li>
                  <b>Dokumenty od neprihláseného používateľa</b>
                  <ul>
                    <li>Nahraté dokumenty pre overenie alebo podpísanie</li>
                    <li>Maximálne 60 minút, potom sú automaticky zmazané</li>
                  </ul>
                </li>
                <li>
                  <b>Dokumenty od prihláseného používateľa</b>
                  <ul>
                    <li>Nahraté dokumenty pre overenie alebo podpísanie</li>
                    <li>Do zmazania používateľom</li>
                  </ul>
                </li>
                <li>
                  <b>Údaje účtu</b>
                  <ul>
                    <li>Údaje o používateľovi a ním nahraté dokumenty</li>
                    <li>Do zrušenia účtu a následne 30 dní na prípadnú obnovu</li>
                  </ul>
                </li>
                <li>
                  <b>Serverové logy</b>
                  <ul>
                    <li>technické logy pre bezpečnostné a diagnostické účely</li>
                    <li>Uchovávame 30 dní</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <h3>Automatické mazanie pre neprihlásených používateľov</h3>
              <p>Ak nie ste prihlásený, vaše dokumenty uchovávame len po dobu nevyhnutnú na technické spracovanie podpisu, maximálne však 60 minút. Následne sú automaticky a nenávratne vymazané. Ak si dokument nestihnete stiahnuť, nebude ho možné obnoviť.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>6. Komu vaše údaje poskytujeme</h2>
          <ol class="my-list prose-p:mt-0 prose-p:mb-0">
            <li>
              <h3>Zoznam príjemcov a sprostredkovateľov</h3>
              <p>Vaše údaje môžeme poskytnúť nasledujúcim kategóriám príjemcov:</p>
              <ul>
                <li>
                  <b>Poskytovatelia infraštruktúry (hosting)</b>
                  <p>Servery služby sú umiestnené v Európskej únii. Prenos do tretích krajín sa neuskutočňuje.</p>
                </li>
                <li>
                  <b>Služba na zachytávanie chýb</b>
                  <p>Spracúva len technické údaje o chybách aplikácie (typ chyby, stack trace, typ prehliadača). Vaše osobné údaje sa do služby cielene neposielaju, avšak v chybových hláseniach sa môžu výnimočne vyskytnúť metadáta operácií (napr. názov súboru).</p>
                </li>
                <li>
                  <b>Súvisiace aplikácie</b>
                  <p>Pri mobilnom podpisovaní môže byť dokument dočasne prenesený na server aplikácie použitej pre vytvorenie podpisu (napríklad Autogram v mobile alebo eIdentita).</p>
                  <p>Pre tieto aplikácie platia ich vlastné podmienky používania a zásady ochrany osobných údajov.</p>
                </li>
                <li>
                  <b>Google (voliteľné)</b>
                  <p>Ak sa rozhodnete prihlásiť cez Google účet, Google spracúva údaje potrebné na autentifikáciu podľa vlastných podmienok.</p>
                </li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <h2>7. Technická infraštruktúra a spracovanie údajov</h2>
          <ol class="my-list prose-p:mt-0 prose-p:mb-0">
            <li>
              <h3>Kde sú uložené vaše dáta</h3>
              <p>Všetky vaše údaje sú primárne uložené na serveroch v Európskej únii.</p>
            </li>
            <li>
              <h3>Serverové logy</h3>
              <p>Naše servery automaticky zaznamenávajú technické informácie o prevádzke:</p>
              <ul>
                <li><i>Časové značky operácií</i></li>
                <li><i>IP adresy (pre bezpečnostné účely)</i></li>
                <li><i>Technické chybové hlásenia</i></li>
              </ul>
              <p>IP adresy si zámerne neodkladáme nad rámec štandardných serverových logov. Tieto logy sa automaticky premazávajú po 30 dňoch.</p>
            </li>
            <li>
              <h3>Diagnostika chýb</h3>
              <p>Na rýchle odhaľovanie softvérových chýb používame službu, ktorá v prípade chyby automaticky zachytí technické informácie potrebné na jej diagnostiku:</p>
              <ul>
                <li><i>Typ a popis chyby</i></li>
                <li><i>Technický stack trace (pre vývojárov)</i></li>
                <li><i>Typ prehliadača a operačného systému</i></li>
                <li><i>Hlavičky volania</i></li>
              </ul>
              <p>Čo služba nezachytáva:</p>
              <ul>
                <li><i>Obsah vašich dokumentov</i></li>
                <li><i>Vaše PIN kódy ani heslá</i></li>
                <li><i>Identifikačné údaje z podpisového certifikátu</i></li>
              </ul>
              <p>V chybových hláseniach sa môžu výnimočne vyskytnúť názvy súborov.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>8. Ako vaše údaje chránime</h2>
          <ol class="my-list">
            <li>
              <h3>Technické opatrenia</h3>
              <p>Prevádzkovateľ uplatňuje primerané technické bezpečnostné opatrenia na ochranu osobných údajov pred neoprávneným prístupom, stratou, zneužitím alebo poškodením. Komunikácia medzi používateľom a systémom prebieha prostredníctvom šifrovaného spojenia (HTTPS/TLS), čím je zabezpečená dôvernosť údajov počas ich prenosu. Osobné údaje sú zároveň šifrované aj v stave uloženia (tzv. „at rest“), aby sa minimalizovalo riziko ich sprístupnenia v prípade technického incidentu. Dokumenty nahrané neprihlásenými používateľmi sú automaticky vymazané najneskôr do jednej hodiny. Systém je pravidelne aktualizovaný z hľadiska bezpečnosti a je priebežne monitorovaný s cieľom identifikovať a reagovať na potenciálne bezpečnostné hrozby.</p>
            </li>
            <li>
              <h3>Organizačné opatrenia</h3>
              <p>Z organizačného hľadiska je prístup k osobným údajom obmedzený výlučne na oprávnených administrátorov, ktorí údaje potrebujú na plnenie svojich pracovných povinností. Uplatňuje sa princíp minimálnych prístupových práv, podľa ktorého má každá oprávnená osoba prístup len k tým údajom a funkciám, ktoré sú nevyhnutné na výkon jej úloh. Prevádzkovateľ má zároveň vypracované a zdokumentované interné postupy pre riešenie bezpečnostných incidentov a pravidelne dbá na ich dodržiavanie.</p>
            </li>
            <li>
              <h3>Čo robíme v prípade bezpečnostného incidentu</h3>
              <p>V prípade porušenia ochrany osobných údajov prevádzkovateľ bezodkladne vykoná vyšetrovanie s cieľom zistiť rozsah a povahu incidentu a prijať nápravné opatrenia. Ak to vyžaduje právna úprava, incident bude oznámený Úradu na ochranu osobných údajov Slovenskej republiky bezodkladne. V prípade, že by porušenie ochrany osobných údajov mohlo viesť k vysokému riziku pre práva a slobody dotknutých osôb, budú tieto osoby o incidente informované priamo a bez zbytočného odkladu.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>9. Vaše práva podľa GDPR</h2>
          <ol class="my-list">
            <li>
              <b>Právo na prístup (čl. 15 GDPR)</b> - Máte právo získať potvrdenie o tom, či spracúvame vaše osobné údaje, a ak áno, získať k nim prístup.
            </li>
            <li>
              <b>Právo na opravu (čl. 16 GDPR)</b> - Máte právo na opravu nesprávnych údajov.
            </li>
            <li>
              <b>Právo na výmaz (čl. 17 GDPR)</b> - Máte právo požiadať o vymazanie vašich údajov. Upozorňujeme, že elektronický podpis v už podpísanom dokumente nie je možné vymazať bez zneplatnenia dokumentu.
            </li>
            <li>
              <b>Právo na obmedzenie spracovania (čl. 18 GDPR)</b> - Máte právo požiadať o obmedzenie spracovania v určitých situáciách.
            </li>
            <li>
              <b>Právo na prenosnosť údajov (čl. 20 GDPR)</b> - Máte právo získať svoje údaje v štruktúrovanom formáte.
            </li>
            <li>
              <b>Právo namietať (čl. 21 GDPR)</b> - Máte právo namietať proti spracúvaniu na základe oprávneného záujmu.
            </li>
            <li>
              <b>Právo podať sťažnosť (čl. 77 GDPR)</b> - Máte právo podať sťažnosť dozornému orgánu:
              <p><i>Úrad na ochranu osobných údajov SR<br>
              Hraničná 12, 820 07 Bratislava 27<br>
              <a href="https://dataprotection.gov.sk">https://dataprotection.gov.sk</a></i></p>
            </li>
            <li>
              <p>Svoje práva môžete uplatniť e-mailom na <a href="mailto:zodpovednaosoba@slovensko.digital">zodpovednaosoba@slovensko.digital</a>. Odpovieme do 30 dní.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>10. Cookies</h2>
          <ol class="my-list">
            <li>
              <p>Portál používa výlučne technické (nevyhnutné) cookies, ktoré sú potrebné na zabezpečenie základnej funkčnosti služby. Ide najmä o tzv. session cookies, ktoré slúžia na udržiavanie prihlasovacej relácie používateľa, a o bezpečnostné cookies vo forme CSRF tokenov, ktoré chránia systém pred neoprávnenými a škodlivými útokmi. Keďže tieto cookies sú nevyhnutné na riadne fungovanie služby, ich používanie nevyžaduje súhlas používateľa.</p>
            </li>
            <li>
              <p>Nepoužívame žiadne sledovacie ani marketingové cookies.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>11. Osobitné situácie</h2>
          <ol class="my-list">
            <li>
              <p>Ak službu používate v mene podnikateľského subjektu, prevádzkovateľom osobných údajov vo vzťahu k podpisovaným dokumentom môže byť vaša firma.</p>
            </li>
            <li>
              <p>Dokumenty, ktoré podpisujete, môžu obsahovať osobné údaje tretích osôb. Za zákonnosť spracovania týchto údajov zodpovedáte vy.</p>
            </li>
            <li>
              <p>Služba nie je určená pre osoby mladšie ako 18 rokov.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>12. Zmeny týchto zásad</h2>
          <ol class="my-list">
            <li>
              <p>Tieto zásady môžeme príležitostne aktualizovať. O podstatných zmenách vás budeme informovať prostredníctvom webovej stránky alebo e-mailom (ak ste zaregistrovaný používateľ)</p>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</main>
