<p class="greeting"><%= t('devise.mailer.greeting', recipient: @email) %></p>

<p><%= t('.instruction') %></p>

<%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token), class: 'button' %>
