<p class="greeting"><%= t('.greeting', recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p class="message"><%= t('.message_unconfirmed', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p class="message"><%= t('.message', email: @resource.email) %></p>
<% end %>
