<p class="greeting"><%= t('.greeting', recipient: @resource.email) %></p>

<p class="message"><%= t('.instruction') %></p>

<%= link_to t('.action'), magic_link_url(@resource, @scope_name => {email: @resource.email, token: @token, remember_me: @remember_me}), class: 'button' %>

<p class="message"><%= t('.expiry_notice', expiry: Devise.passwordless_login_within.inspect) %></p>          
