<main>
  <style>
    .my-list-first {
        counter-reset: item 0;
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;
    }

    .my-list {
        counter-reset: item;
        list-style-type: none;
    }

    .my-list > li {
        counter-increment: item;
    }

    .my-list-first > li {
        counter-increment: item;
    }

    .my-list > li::marker {
        content: counters(item, '.') '. ';
    }
  </style>
  <div class="min-h-screen px-6 lg:px-8 mx-auto max-w-5xl">
    <% if !Rails.env.production? %>
      <br>
      <%= render 'shared/error', title: t('.not_production_title'), content: t('.not_production_message') %>
      <br>
    <% end %>
    <div class="prose prose-sm lg:prose-base mx-auto max-w-5xl">
      <h1>Obchodné podmienky</h1>

      <p><i>pre službu <b>Autogram Portál</b></i></p>
      <p><i>platné od <b>29.4.2026</b></i></p>

      <ol class="my-list-first">
        <li>
          <h2>Preambula</h2>
          <ol class="my-list">
            <li>
              <p><i>Autogram Portál je nástroj, ktorý vám pomáha elektronicky podpisovať dokumenty pomocou vášho občianskeho preukazu s čipom. My vám poskytujeme technológiu – vy zodpovedáte za to, čo podpisujete.</i></p>
            </li>
          </ol>
        </li>

        <li>
          <h2>Základné informácie a pojmy</h2>
          <ol class="my-list">
            <li>
              <h3>Kto prevádzkuje túto službu?</h3>
              <i><ul class="list-none">
                <li><b>Prevádzkovateľ:</b> <b>Služby Slovensko.Digital, s.r.o.</b> - Spoločnosť zapísaná v registri Mestského súdu Bratislava III, oddiel: Sro, vložka č. 119763/B</li>
                <li><b>IČO:</b> 50881337</li>
                <li><b>Sídlo:</b> Staré grunty 18, 841 04 Bratislava</li>
                <li><b>Kontakt:</b> <a href="mailto:podpora@slovensko.digital">podpora@slovensko.digital</a></li>
                <li>(ďalej len "Poskytovateľ" alebo "my")</li>
              </ul></i>
            </li>
            <li>
              <h3>Čo znamenajú pojmy použité v týchto podmienkach?</h3>
              <p>Aby sme si rozumeli, vysvetlíme vám kľúčové pojmy jednoduchým jazykom:</p>
              <ul class="list-disc list-outside prose-p:mt-0 prose-p:mb-0">
                <li><b><i>Služba</i></b> – webová aplikácia Autogram Portál dostupná na adrese <a href="https://agp.slovensko.digital">https://agp.slovensko.digital</a>, ktorá umožňuje elektronické podpisovanie dokumentov.</li>
                <li>
                  <b><i>Používateľ</i></b> – každý, kto službu používa (teda vy). Rozlišujeme:
                  <ul>
                    <li><i>Neprihlásený používateľ (hosť)</i> – používa službu bez vytvorenia účtu</li>
                    <li><i>Prihlásený používateľ</i></b> – vytvoril si účet a prihlasuje sa do služby</li>
                  </ul>
                </li>
                <li><b><i>Kvalifikovaný elektronický podpis (KEP)</i></b> – elektronický podpis vytvorený kvalifikovaným zariadením na vytvorenie elektronického podpisu a založený na kvalifikovanom certifikáte pre elektronický podpis</li>
                <li><b><i>Jednoduchý elektronický podpis</i></b> – iné formy elektronického podpisu (napr. nakreslený podpis, obrázok podpisu), ktoré nemajú automaticky rovnakú právnu silu ako KEP</li>
                <li><b><i>Kvalifikované zariadenie na vytvorenie elektronického podpisu (QSCD)</i></b> – hardvérové zariadenie používané na vytvorenie kvalifikovaného elektronického podpisu v súlade s nariadením eIDAS. Napríklad občiansky preukaz s čipom</li>
                <li><b><i>eID karta</i></b> – občiansky preukaz s elektronickým čipom vydaný Slovenskou republikou; v rámci služby môže predstavovať jeden z podporovaných prostriedkov na vytvorenie kvalifikovaného elektronického podpisu</li>
                <li><b><i>BOK</i></b> – Bezpečnostný Osobný Kód – 6-miestne číslo, ktoré ste si zvolili pri prevzatí občianskeho preukazu</li>
                <li><b><i>Podpisový PIN</i></b> – PIN kód na vytvorenie kvalifikovaného elektronického podpisu</li>
                <li><b><i>Časová pečiatka</i></b> – elektronické potvrdenie, kedy presne bol dokument podpísaný</li>
                <li><b><i>eIDAS</i></b> – nariadenie Európskej únie č. 910/2014 o elektronickej identifikácii, autentifikácii a dôverných službách</li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <h2>Čo služba robí a čo nerobí</h2>
          <ol class="my-list">
            <li>
              <h3>Čo Autogram Portál robí</h3>
              <p>Služba vám umožňuje:</p>
              <ul class="list-disc">
                <li>Nahrať dokumenty (PDF, XML a iné podporované formáty) na podpísanie</li>
                <li>Podpísať dokumenty pomocou podporovaného spôsobu podpisovania. Napríklad aplikáciou pre vytváranie elektronického podpisu Autogram, Autogram v mobile, eIdentita alebo ďalšími</li>
                <li>Informatívne overiť existujúce elektronické podpisy na dokumentoch</li>
                <li>Stiahnuť podpísané dokumenty</li>
                <li>Pozvať iných ľudí na podpísanie dokumentu (pre prihlásených používateľov)</li>
                <li>Organizovať a spravovať dokumenty (pre prihlásených používateľov)</li>
                <li>Pridávať časové pečiatky k podpisom (pre prihlásených používateľov)</li>
              </ul>
            </li>
            <li>
              <h3>Čo je dôležité vedieť o bezpečnosti</h3>
              <p>Váš súkromný kľúč a podpisový PIN nikdy neopustia vaše zariadenie. Pri vytváraní kvalifikovaného elektronického podpisu váš BOK, podpisový PIN ani súkromný kryptografický kľúč neopúšťajú vaše zariadenie alebo použité kvalifikované podpisové zariadenie. Server Autogram Portál tieto údaje nijako neprijíma ani neukladá.</p>
              <p>Zjednodušene: náš server technicky sprostredkúva komunikáciu medzi vaším prehliadačom a použitou podpisovacou aplikáciou alebo klientom, ale nepracuje s vaším PIN kódom ani súkromným kľúčom na samotné podpisovanie.</p>
            </li>
            <li>
              <h3>Čo Autogram Portál nerobí a za čo nezodpovedá</h3>
              <ul class="list-disc">
                <li>Obsah vašich dokumentov manuálne neprezeráme a nespracúvame ho nad rámec automatizovaných technických operácií nevyhnutných na vytvorenie podpisu, overenie podpisu, uloženie alebo doručenie výsledku služby</li>
                <li>Neposkytujeme právne poradenstvo o tom, či máte dokument podpísať</li>
                <li>Nezodpovedáme za obsah dokumentov, ktoré podpisujete</li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <h2>Typy elektronických podpisov a ich právna sila</h2>
          <ol class="my-list">
            <li>
              <p>Autogram Portál môže podporovať viacero metód elektronického podpisovania. Právne účinky každej metódy závisia od jej povahy, technického riešenia a požiadaviek právnych predpisov, alebo konkrétneho právneho úkonu.</p>
            </li>
            <li>
              <p>Pri metódach elektronického podpisovania Autogram Portál pri voľbe danej metódy uvedie, o aký typ podpisu ide, alebo aké má praktické obmedzenia. Posúdenie, či zvolená metóda podpisovania postačuje pre konkrétny právny úkon, je na používateľovi.</p>
            </li>
            <li>
              <p>Je výlučne vašou zodpovednosťou zvoliť takú metódu podpisovania, ktorá je vhodná pre daný právny úkon a zodpovedá požiadavkám relevantných právnych predpisov. Ak si nie ste istí, odporúčame použiť kvalifikovaný elektronický podpis alebo vyhľadať právne poradenstvo.</p>
            </li>
            <li>
              <p>Vizuálne zobrazenie podpisu vložené do dokumentu môže mať len informatívny, alebo používateľský význam. Právnu záväznosť elektronického podpisu určujú technické a kryptografické údaje obsiahnuté v dokumente, alebo s ním spojené, nie samotná vizuálna reprezentácia podpisu.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>Registrácia a typy účtov</h2>
          <ol class="my-list">
            <li>
              <h3>Používanie bez registrácie (hosť)</h3>
              <p>Službu môžete používať aj bez registrácie. V takom prípade:</p>
              <ul class="list-disc">
                <li>Môžete nahrávať a podpisovať dokumenty</li>
                <li>Dokumenty sú na serveri uchovávané maximálne 1 hodinu a následne sa automaticky a nenávratne zmažú</li>
                <li>Nemáte prístup k histórii podpísaných dokumentov</li>
                <li>Musíte si dokument stiahnuť ihneď po podpísaní</li>
              </ul>
            </li>
            <li>
              <h3>Používanie s registráciou (bezplatný účet)</h3>
              <p>Ak si vytvoríte bezplatný účet, získate nasledujúce výhody:</p>
              <b>Uchovávanie dokumentov</b>
              <ul class="list-disc">
                <li>Uchovávanie najviac 20 dokumentov súčasne</li>
                <li>Vami nahraté dokumenty zostávajú uložené v sekcii "Dokumenty" a “Balíky” až do ich zmazania vami</li>
                <li>Máte prístup aj k histórii vami podpísaných dokumentov pre iné strany, kým ich vlastník dokumentu nezmaže</li>
                <li>Môžete sa k dokumentom kedykoľvek vrátiť a stiahnuť ich</li>
                <li>Prehľad o stave dokumentov čakajúcich na podpis</li>
              </ul>
              <b>Pokročilé funkcie</b>
              <ul class="list-disc">
                <li>Hromadné podpisovanie viacerých dokumentov</li>
                <li>Notifikácie o stave dokumentov e-mailom</li>
                <li>Možnosť pozývať viacerých signatárov na jeden dokument</li>
              </ul>
            </li>
            <li>
              <h3>Ako sa zaregistrovať</h3>
              <p>Registrácia je bezplatná a môžete ju vykonať:</p>
              <ul class="list-disc">
                <li>Prihlásením cez Google účet</li>
                <li>Overením emailovej adresy a prihlásením sa cez magic link</li>
              </ul>
              <p>Pri registrácii aktívne potvrdzujete súhlas s týmito Obchodnými podmienkami a Zásadami ochrany osobných údajov.</p>
            </li>
            <li>
              <h3>Zrušenie účtu</h3>
              <p>Svoj účet môžete kedykoľvek zrušiť. Pri zrušení účtu:</p>
              <ul class="list-disc">
                <li>Vaše osobné údaje budú vymazané do 30 dní</li>
                <li>Dokumenty uložené vo vašom účte budú nenávratne zmazané</li>
                <li>Odporúčame si pred zrušením stiahnuť všetky dôležité dokumenty</li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <h2>Cena služby</h2>
          <ol class="my-list">
            <li>
              <h3>Cenník</h3>
              <p>Autogram Portal je pre používateľov poskytovaný podľa <a href="/pricing_terms">aktuálne platného cenníka</a>.</p>
            </li>
            <li>
              <h3>Možné zmeny do budúcnosti</h3>
              <p>Zmena cenníka je vyhradená. O zmenách vás budeme informovať minimálne 30 dní vopred.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>Vaše povinnosti ako používateľa</h2>
          <ol class="my-list">
            <li>
              <h3>Pri používaní služby sa zaväzujete</h3>
              <ul class="list-disc">
                <li>Používať službu v súlade s platnými právnymi predpismi</li>
                <li>Podpisovať len dokumenty, na ktorých podpísanie máte právo</li>
                <li>Chrániť svoj BOK a podpisový PIN pred zneužitím</li>
                <li>Chrániť prístupové údaje k svojmu účtu</li>
                <li>Nepoužívať službu na podpisovanie dokumentov s nezákonným obsahom</li>
                <li>Nenahrávať dokumenty obsahujúce škodlivý kód</li>
                <li>Nevytvárať viaceré kontá pre jednu osobu za účelom obchádzania limitov služby</li>
              </ul>
            </li>
            <li>
              <h3>Zodpovedáte za</h3>
              <ul class="list-disc">
                <li>Obsah dokumentov, ktoré podpisujete</li>
                <li>Voľbu správneho typu podpisu pre daný právny úkon</li>
                <li>Aktivitu vykonanú cez váš účet</li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <h2>Obmedzenie zodpovednosti poskytovateľa</h2>
          <ol class="my-list">
            <li>
              <h3>Služba je poskytovaná "tak ako je"</h3>
              <p><b>Bezplatná služba je poskytovaná v režime "AS IS"</b> (tak ako je) bez akýchkoľvek záruk dostupnosti, výkonnosti alebo vhodnosti na konkrétny účel.</p>
              <p>Poskytovateľ si vyhradzuje právo kedykoľvek obmedziť alebo prerušiť poskytovanie Služby z dôvodu údržby, aktualizácie alebo z iných prevádzkových dôvodov.</p>
            </li>
            <li>
              <h3>Za čo nenesieme zodpovednosť</h3>
              <ul class="list-disc">
                <li>Výpadky služby spôsobené technickými problémami, údržbou alebo vyššou mocou</li>
                <li>Škody vzniknuté v dôsledku nefunkčného hardvéru používateľa</li>
                <li>Škody vzniknuté z dôvodu, že protistrana neakceptovala elektronicky podpísaný dokument</li>
                <li>Právne následky vyplývajúce z voľby nesprávneho typu podpisu</li>
                <li>Právne následky vyplývajúce z obsahu podpísaných dokumentov</li>
                <li>Škody a právne následky vyplývajúce z nesprávneho overenia platnosti podpisov</li>
              </ul>
            </li>
            <li>
              <h3>Open source licencia</h3>
              <p>Autogram Portál je softvér s otvoreným zdrojovým kódom distribuovaný pod licenciou EUPL v1.2. Táto licencia výslovne vylučuje akékoľvek záruky.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>Tretie strany a integrácie</h2>
          <ol class="my-list">
            <li>
              <h3>Služby tretích strán a integrácií</h3>
              <p>Pre fungovanie služby využívame nasledujúce externé služby a aplikácie:</p>
              <ul class="list-disc">
                <li>mobilná aplikácia eIdentita – mobilná aplikácia na podpisovanie</li>
                <li>Autogram v mobile – mobilná aplikácia na podpisovanie</li>
                <li>Poskytovatelia kvalifikovaných časových pečiatok</li>
                <li>Google (voliteľne) – prihlásenie cez Google účet</li>
              </ul>
            </li>
            <li>
              <h3>Podmienky používania tretích strán a integrácií</h3>
              <p>Pri používaní služieb tretích strán a integrácií (napríklad eIdentita, Autogram v mobile) sa na vás vzťahujú aj podmienky používania týchto služieb. Odporúčame sa s nimi oboznámiť.</p>
            </li>
            <li>
              <h3>Zodpovednosť za služby tretích strán</h3>
              <p>Za dostupnosť a funkčnosť služieb tretích strán nenesieme zodpovednosť. Ak tieto služby nie sú dostupné, niektoré funkcie Autogram Portál nemusia fungovať.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>Ukončenie služby a zmeny podmienok</h2>
          <ol class="my-list">
            <li>
              <h3>Vaše právo prestať službu používať</h3>
              <p>Môžete kedykoľvek prestať službu používať, alebo požiadať o zrušenie účtu.</p>
            </li>
            <li>
              <h3>Naše právo ukončiť alebo pozastaviť službu</h3>
              <ul class="list-disc">
                <li>Dočasne pozastaviť službu z dôvodu údržby alebo aktualizácie</li>
                <li>Ukončiť poskytovanie služby s 30-dňovým predstihom</li>
                <li>Okamžite zablokovať prístup používateľovi, ktorý porušuje tieto podmienky</li>
                <li>Zrušiť neaktívne účty po 12 mesiacoch nečinnosti (s predchádzajúcim upozornením)</li>
              </ul>
            </li>
            <li>
              <h3>Zmeny týchto podmienok</h3>
              <p>O podstatných zmenách vás budeme informovať prostredníctvom webovej stránky alebo e-mailom. Pokračovaním v používaní služby vyjadrujete súhlas s novým znením.</p>
            </li>
          </ol>
        </li>

        <li>
          <h2>Záverečné ustanovenia</h2>
          <ol class="my-list">
            <li>
              <h3>Rozhodné právo</h3>
              <p>Tieto Obchodné podmienky sa riadia právnym poriadkom Slovenskej republiky.</p>
            </li>
            <li>
              <h3>Riešenie sporov</h3>
              <p>Spory sa budeme snažiť riešiť prednostne mimosúdnou cestou. Spotrebiteľ má právo obrátiť sa na subjekt alternatívneho riešenia sporov. Príslušné sú súdy Slovenskej republiky.</p>
            </li>
            <li>
              <h3>Oddeliteľnosť ustanovení</h3>
              <p>Ak sa niektoré ustanovenie stane neplatným, ostatné ustanovenia zostávajú v platnosti.</p>
            </li>
            <li>
              <h3>Kontakt</h3>
              <ul class="list-none">
                <li><b><i>Všeobecné otázky:</i></b> <a href="mailto:podpora@slovensko.digital">podpora@slovensko.digital</a></li>
                <li><b><i>Firemné riešenia:</i></b> <a href="mailto:podpora@slovensko.digital">podpora@slovensko.digital</a></li>
                <li><b><i>Ochrana osobných údajov:</i></b> <a href="mailto:zodpovednaosoba@slovensko.digital">zodpovednaosoba@slovensko.digital</a></li>
                <li><b><i>Web:</i></b> <a href="https://sluzby.slovensko.digital">https://sluzby.slovensko.digital</a></li>
              </ul>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</main>
